# Cruft #
.DS_Store

# optimized loading #
combined.js

# Scripts #
workspace/
localconfig.js

# Worlds #
*.html
!blank.html
!welcome.html
!run_tests.html

# Node #
node_modules
*.pid

# Parts #
PartsBin

# Users #
users

# Wiki #
objects.sqlite

# Debugging -- for development, will go away soon #
DBG_*.js

