language: node_js

node_js:
  - 0.6

python:
  - "2.7"

before_install:
  - "sudo apt-get update"
  - "sudo apt-get install chromium-browser"
  - "sudo apt-get install xvfb"
  - "npm install -g livelykernel-scripts@latest"

after_install:
  - "ln -s $PWD `lk scripts-dir`/workspace/lk"

before_script:
  - "Xvfb :1 -screen 0 800x600x24&"
  - "lk server --forever"

script: "lk test --display :1"

branches:
  only:
    - master