language: node_js
node_js:
  - 0.6

before_install: 
  - "make install_chrome_on_travis"
  - "make install_xvfb_on_travis"
  
before_script: 
  - "make start_xvfb"
  - "make start_server_forever" 

script: "make travis_tests"

branches:
  only:
    - master