language: node_js

node_js:
  - 0.6

before_install:
  - "sudo apt-get update"
  - "sudo apt-get install chromium-browser"
  - "sudo apt-get install xvfb"
  - "npm install -g livelykernel-scripts@latest"

before_script:
  - "mkdir `lk scripts-dir`/workspace"
  - echo "Linking $PWD to `lk scripts-dir`/workspace/lk"
  - "ln -s $PWD `lk scripts-dir`/workspace/lk"
  - "Xvfb :1 -screen 0 800x600x24&"
  - "lk server --forever"

script: "lk test --display :1"

branches:
  only:
    - master

notifications:
  email:
    - cschuster@ucdavis.edu
    - danhhingalls@gmail.com
    - fbornhofen@googlemail.com
    - jens.lincke@hpi.uni-potsdam.de
    - l.thamsen@googlemail.com
    - robert.krahn@gmail.com