language: node_js

sudo: false

node_js:
  - "4"

before_install:
  - "google-chrome --version"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

before_script:
  - "nvm use v4"
  - "Xvfb :1 -screen 0 800x600x24 &"
  - "node bin/temp-es6-fix.js"
  - "npm start &"
  - "while [ ! -d PartsBin ]; do echo 'Waiting for server to be initialized'; sleep 2; done; sleep 30"
  - echo "Arrrrrggh!!! Server needs more than a minute to startup :("; sleep 50;

script: "DISPLAY=:1 npm test"

notifications:
  slack: cdglabs:E0fa310LnYWFdOLQ8IxQRZfX
  email:
    - robert.krahn@gmail.com
