.World {
	font-family: Helvetica;
}

.Box {
	background:  #white;
	border: 1px solid #aaa;
}

.Selection {
	background:  rgba(222,222,222, 0.6);
	border: 1px solid #aaa;
}

.Box.selection-indicator {
	background:  none;
	outline: 4px solid #E73F22;
}

.Text.edit-field {
	background: white;
	box-shadow: inset 1px 1px 1px #666;
	border: 1px solid #aaa;
	border-radius: 2px;
}

.Button {
	font-size: 9pt;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 0 #EEE;
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8);
	cursor: pointer;
	border: 1px solid #888;
}
.Button.pressed {
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.Button.toggled {
	background-image: -webkit-linear-gradient(top, #FFF, #EEE);
	background-image: -moz-linear-gradient(top, #FFF, #EEE);
	color: black;
}

.Button.disabled {
	color: gray;
}

.Window {
	background-color: rgba(244, 244, 244, 0.7);
	box-shadow: 0px 4px 15px #666;
	border-radius: 5px;
}
.Window.highlighted {
	background-color: rgba(222, 222, 222, 0.8);
	box-shadow: 0px 5px 20px #000;
	border: 1px solid white;
}

.Window .TitleBar, .Window .reframe-handle {
	border: none;
	background: none;
}

.reframe-handle.corner {
	cursor: se-resize;
}
.reframe-handle.right {
	cursor: e-resize;
}
.reframe-handle.bottom {
	cursor: s-resize;
}

.Window .Text.window-title {
	font-size: 10pt;
	text-align: center;
	color: #555;
	text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}
.Window.highlighted  .Text.window-title {
	font-weight: bold;
	color: #333;
}

.Button.WindowControl {
	border: 1px solid #aaa;
	border-radius: 3px;
	background: #EEE;
	font-weight: normal;
}

.Button.WindowControl.close {
	background: #E73F22;
	color: white;
}

.HorizontalDivider {
	cursor: n-resize;
}

.Slider {
	border-radius: 6px;
	border: 1px solid #BBB;
	background: #EEE;
	box-shadow: inset 1px 1px 1px #666;
}

.SliderKnob {
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8);
	cursor: pointer;
	border: 1px solid #888;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #EEE, #CCC);
	background-image: -moz-linear-gradient(top, #EEE, #CCC);
	background: linear-gradient(bottom, #EEE, #CCC);
}

.FlapHandle {
	border: 1px solid black;
}

.AccordionHeader {
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8);
	cursor: pointer;
	border: 1px solid #888;
}

.AccordionHeader.active {
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
}
