.World {
	font-family: Helvetica;
}

.Button {
	font-size: 9pt;
	color: black;
	text-align: center;
	background:  -webkit-linear-gradient(top, #AEE8FB, #00BCD1);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8);
	cursor: pointer;
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}
.Button.pressed{
	background:  -webkit-linear-gradient(bottom, #AEE8FB, #00BCD1);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.Button.toggled{
	background: -webkit-linear-gradient(top, #FFF, #EEE);
	color: black;
}
.Button.toggled.pressed{
	background: -webkit-gradient(bottom, #FFF, #EEE);
}
.Button.disabled{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(20%,#aaa), color-stop(85%,#aaa), color-stop(100%,#888));
	color: gray;
}

.Window {
	background-color: rgba(174,232,251, 0.7);
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.Window.highlighted {
	border: 1px solid #FEF9F0;
	background-color: rgba(0,188,209, 0.8);
}

.Window .Text.window-title {
	font-size: 10pt;
	text-align: center;
	color: #555;
	text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}
.Window.highlighted  .Text.window-title {
	font-weight: bold;
	color: #333;
}

.Button.WindowControl {
	border-radius: 3px;
	background: #EEE;
	font-weight: normal;
	text-shadow: none;
}

.Button.WindowControl.close {
	background: #E73F22;
	color: white;
}

.HorizontalDivider {
	cursor: n-resize;
}

.Slider {
	border-radius: 6px;
	border: 1px solid #BBB;
	background: #EEE;
	box-shadow: inset 1px 1px 1px #666;
}

.SliderKnob {
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8);
	cursor: pointer;
	border: 1px solid #888;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #AEE8FB, #00BCD1);
}
