.FlapHandle {
	border: 1px solid black;
	font-size: 14pt;
	color: #000;
}

.TouchWorldMenu {
	background: rgb(1,3,41);
	box-shadow: 5px 5px 5px 5px rgba(34,34,34,0.5);
}

.TouchWorldMenuHeader {
	background-image: -webkit-linear-gradient(bottom, #010329 25%, #010329 26%, #C8C8C8 96%, #C8C8C8 100%);
	background-image: -moz-linear-gradient(bottom, #010329 25%, #010329 26%, #C8C8C8 96%, #C8C8C8 100%);
	border-width: 0;
	border-radius: 10px;
}

.Button.ToolbarNavigator {
	background-image: -webkit-linear-gradient(bottom, #010329 25%, #010329 26%, #C8C8C8 96%, #C8C8C8 100%);
	background-image: -moz-linear-gradient(bottom, #010329 25%, #010329 26%, #C8C8C8 96%, #C8C8C8 100%);
	box-shadow: inset 0 0 1px 1px #333;
    border-width: 0;
	color: white
}

.Button.ToolbarNavigator.pressed {
	background: rgb(34,34,34) 
}

.Button.ToolbarNavigator.toggled {
	background-image: -webkit-linear-gradient(bottom, #314fff 0%, #3553ff 59%, #4f69ff 63%, #7086ff 100%);
	background-image: -moz-linear-gradient(bottom, #314fff 0%, #3553ff 59%, #4f69ff 63%, #7086ff 100%);
}

.Text.ToolbarNavigator {
	padding-top: 5px;
}

.Button.FlapNavigator {
	background: rgba(0,0,0,0);
	border-width: 0;
	box-shadow: none;
	border-radius: 0px 0px 10px 0px;
}

.Button.FlapNavigator.pressed {
	background: rgb(34,34,34);
}

.Text.FlapNavigator {
	color: white;
}

.Button.FlapNavigator.highlighted {
	background-image: -webkit-linear-gradient(bottom, #314fff 0%, #3553ff 59%, #4f69ff 63%, #7086ff 100%);
	background-image: -moz-linear-gradient(bottom, #314fff 0%, #3553ff 59%, #4f69ff 63%, #7086ff 100%);
	border-radius: 5px;
}

.Button.TextControl {
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #3b3b3b 59%, #565656 63%, #8b8b8b 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #3b3b3b 59%, #565656 63%, #8b8b8b 100%);
	border-color: black;
	border-radius: 6px;
	border-width: 1px;
}

.Text.TextControl {
	color: white;
	padding-top: 7px;
}

.Button.TextControl.pressed {
	background-image: -webkit-linear-gradient(bottom, #314fff 0%, #3553ff 59%, #4f69ff 63%, #7086ff 100%);
	background-image: -moz-linear-gradient(bottom, #314fff 0%, #3553ff 59%, #4f69ff 63%, #7086ff 100%);
}